* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.container {
  border: 0px solid black;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.container > div {
  padding: 20px;
}

.top {
  color: white;
  font-weight: bold;
  background-color: green;
}

.white {
  background-color: white;
}

.grey {
  background-color: grey;
}

#width,
#depth,
#height,
#weight {
  font-weight: bold;
}
